* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111827;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin-bottom: 15px;
}

h1 > span {
    color: #10B981;
}

main {
    font-family: "Inter", sans-serif;
    background-color: #1E293B;
    color: whitesmoke;
    width: 480px;
    padding: 80px 32px;
    border-radius: 16px;
}

main > p {
    font-size: 16px;
    font-weight: 400;
    color: #94A3B8

}

main > div {
    display: flex;
    justify-content: space-around;
}

button {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    background-color: #10B981;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    border-style: none;
    margin-top: 30px;
    margin-bottom: 30px;
}


div > p {
    background-color: #151F32;
    margin: 10px;
    padding: 14px 18px;
    border-radius: 6px;
    color: #10B981;
}